/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 450px 148px auto;
  align-items: center;
  height: 105px;
  margin: 92px 24px 96px 24px;
  font-weight: normal;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 4px;
  list-style: circle;
}

.href_no {
  text-decoration: none;
}

.first_link {
  margin-left: 26px;
  font-size: 18px;
  list-style-type: none;
}

.secont_link {
  margin-left: 29px;
  padding-left: 3px;
  letter-spacing: 0.2px;
}

.third_link {
  margin-left: 27px;
  padding-left: 5px;
  letter-spacing: 0.2px;
}

.bord {
  border-bottom: 1px solid black;
}

.header__logo-image {
  display: block;
  height: 109px;
  width: 136px;
  margin-left: 9px;
  margin-top: -1px;
}

.header__address {
  justify-self: end;
  padding-right: 62px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address a {
  letter-spacing: 0.09px;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
}

.cover_img {
  position: absolute;
  z-index: -1;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: -137.5px 0px;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 1100px;
  height: 757px;
  opacity: 0.6;
  background: rgb(0, 0, 0);
}

.first_blok_cover {
  height: 165px;
}

.title {
  position: relative;
  z-index: 2;
  height: 355px;
  margin-right: 50px;
  margin-left: 51px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  text-transform: uppercase;
}

.span_1 {
  display: inline-block;
  vertical-align: text-top;
  font-size: 99px;
  line-height: 117px;
  letter-spacing: 30px;
}

.span_2 {
  display: inline-block;
  margin-left: 31px;
  vertical-align: text-top;
  font-size: 99px;
  line-height: 117px;
  letter-spacing: 30px;
}

.span_3 {
  display: inline-block;
  margin-left: 285px;
  vertical-align: text-top;
  font-size: 99px;
  line-height: 73px;
  letter-spacing: 31px;
}

.span_4 {
  display: inline-block;
  margin-left: 29px;
  vertical-align: text-top;
  font-size: 99px;
  line-height: 74px;
  letter-spacing: 30px;
}

.span_5 {
  display: inline-block;
  margin-left: 583px;
  vertical-align: text-top;
  font-size: 99px;
  line-height: 18px;
  letter-spacing: 30px;
}

.span_6 {
  display: inline-block;
  margin-left: 31px;
  vertical-align: text-top;
  overflow: visible;
  font-size: 99px;
  line-height: 18px;
  letter-spacing: 30px;
}

.span_7 {
  display: inline-block;
  margin-left: -35px;
  vertical-align: text-top;
  font-size: 99px;
  line-height: 18px;
  letter-spacing: -46px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cover__description-text {
  margin-top: 147px;
  margin-left: 78px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover__description-text_1 {
  margin-left: 1px;
}

.cover__description-text_2 {
  margin-left: -2px;
}

.cover__description-text_3 {
  margin-left: -1px;
}

.cover__description-text_4 {
  margin-left: -1px;
}

.bet-button {
  width: 256px;
  height: 51px;
  margin-top: 135px;
  margin-left: 60px;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  width: 1052px;
  margin-top: 179px;
  margin-right: 24px;
  margin-left: 24px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  color: rgb(0, 0, 0);
  font-family: Raleway;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 25px;
  list-style-type: none;
}

.card-link {
  position: relative;
  display: block;
  width: 334px;
  height: 563px;
}

.overlay_card {
  position: absolute;
  z-index: -1;
  width: 334px;
  height: 563px;
  opacity: 0.6;
  background: rgb(0, 0, 0);
}

.card {
  position: relative;
  z-index: 1;
  width: 334px;
  height: 563px;
}

.card_type_film {
  position: absolute;
  z-index: -2;
  width: 334px;
  height: 563px;
  background-image: url(../images/card-lot-01.jpg);
  background-position: -109px 0px;
  background-size: 164.5% 100%;
}

.card_type_book {
  position: absolute;
  z-index: -2;
  width: 334px;
  height: 563px;
  background-image: url(../images/card-lot-02.jpg);
  background-position: -102px 0px;
  background-size: 161% auto;
}

.card_type_picture {
  position: absolute;
  z-index: -2;
  width: 334px;
  height: 563px;
  background-image: url(../images/card-lot-03.jpg);
  background-position: -102px 0px;
  background-size: 161% auto;
}

.card__title {
  position: relative;
  z-index: 2;
  max-width: 300px;
  padding-top: 52px;
  padding-left: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 22px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  color: white;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.card__text_margin_type_film {
  max-width: 255px;
  margin-top: 242px;
  margin-left: 40px;
}

.pol_tomas {
  margin-left: -2px;
}

.card__text_margin_type_book {
  max-width: 255px;
  margin-top: 1px;
  margin-left: 40px;
}

.card__text_margin_type_picture {
  max-width: 255px;
  margin-top: 97px;
  margin-left: 40px;
}

.elipsis {
  letter-spacing: 2.5px;
}

.one_of {
  margin-left: -2px;
}

.see_more_link {
  display: inline-block;
  margin-top: 31px;
  margin-left: 40px;
  border-bottom: 1px solid black;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  width: 1052px;
  margin-top: 146px;
  margin-left: 24px;
}

.about__logo {
  width: 334px;
}

.black_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 120px;
  background-color: black;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  margin-left: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.about__text {
  margin-left: 24px;
}

.p_first {
  margin-top: 100px;
  letter-spacing: 0.1px;
}

.p_second {
  margin-top: 25px;
}

.footer {
  display: grid;
  grid-template-columns: 270px 6fr 1fr 1fr 1fr;
  width: 1000px;
  height: 98px;
  margin: auto;
  margin-top: 179px;
  font-size: 18px;
}

.adress {
  justify-self: start;
}

.footer__links-list {
  margin-top: 1px;
  margin-left: -26px;
  list-style-type: none;
}

.footer_link {
  text-align: center;
}

.footer__social-link {
  display: block;
  text-decoration: none;
}

.footer__social-icon_first {
  width: 48px;
  height: 48px;
  margin-top: 1px;
  margin-left: 3.5px;
  background-image: url(../images/yt.svg);
}

.footer__social-icon_second {
  width: 48px;
  height: 48px;
  margin-top: 1px;
  margin-left: 18px;
  background-image: url(../images/vk.svg);
}

.footer__social-icon_thrid {
  width: 48px;
  height: 48px;

  margin-top: 1px;
  margin-left: 33px;
  background-image: url(../images/pinterest.svg);
}
