/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 450px 148px auto;
  align-items: center;
  min-height: 105px;
  margin: 92px 24px 96px 24px;
  font-weight: normal;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1.5px;
  margin-left: 26px;
  list-style: circle;
}

.first_li {
  list-style-type: none;
}

.secont_li {
  margin-left: 33px;
  letter-spacing: 0.13px;
}

.bord {
  border-bottom: 1px solid black;
}

.href_no {
  text-decoration: none;
}

.header__logo_href {
  display: block;
  width: 136px;
  height: 105px;
  margin-left: 8.5px;
}

.header__address {
  justify-self: end;
  margin-left: 188px;
  font-style: normal;
  line-height: 24.3px;
}

.href_margin {
  letter-spacing: 0.2px;
}

.cover {
  position: relative;
  z-index: 1;
  min-width: 1100px;
  min-height: 757px;
  background: url(../images/cover.jpg) no-repeat center / cover;
  /*
   background: url(../images/cover.jpg) no-repeat -137.5px 0px / cover;
   C таким позиционированием картинка встает более четко по пикселям
  */
}

.title {
  position: relative;
  z-index: 3;
  max-height: 355px;
  margin-right: 50px;
  margin-bottom: 165px;
  margin-left: 50px;
  padding-top: 161px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 100px;
  line-height: 123px;
  text-transform: uppercase;
}

.span_generic {
  display: block;
  letter-spacing: 30px;
}

.span_text-align_first {
  text-align: start;
}

.span_text-align_second {
  margin-top: 3px;
  line-height: 126px;
  text-align: center;
}

.span_text-align_third {
  line-height: 115px;
  text-align: end;
}

.letter-spacing_large {
  letter-spacing: 60px;
}
.letter-spacing_no {
  letter-spacing: 0;
}

.cover__description-text {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  margin-left: 78px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover__description-text_p {
  margin-bottom: 10px;
  letter-spacing: -0.1px;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  margin-top: 135px;
  margin-left: 34px;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin-top: 179px;
  margin-right: 24px;
  margin-left: 24px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 25px;
  list-style-type: none;
}

.card-link {
  position: relative;
  display: block;
  width: 334px;
  height: 563px;
}

.overlay {
  position: absolute;
  z-index: 2;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.6;
  background: rgb(0, 0, 0);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  padding-top: 51px; 
  padding-right: 40px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.card__title {
  position: relative;
  z-index: 3;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 22px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 3;
  color: white;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.card__text_margin_type_film {
  margin-top: 242px;
}

.card__text_margin_type_book {
  margin-top: 1px;
}

.card__text_margin_type_picture {
  margin-top: 97px;
}

.pol_tomas {
  margin-left: -2px;
}

.elipsis {
  letter-spacing: 2.5px;
}

.one_of {
  margin-left: -2px;
}

.see_more_link {
  display: inline-block;
  margin-top: 31px;
  margin-left: 40px;
  border-bottom: 1px solid black;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: auto auto;
  
  column-gap: 25px;
  margin-top: 146px;
  margin-right: 24px;
  margin-left: 24px;
}

.black_logo {
  display: flex;
  grid-row: 1/3;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 120px;
  background-color: black;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-top: 100px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 270px auto 240px;
  width: 1000px;
  height: 98px;
  margin: 179px 50px 88px 50px;
  font-size: 18px;
}

.adress {
  justify-self: start;
  margin-top: 1px;
  margin-left: 1px;
}

.footer__links-list {
  margin-right: 26px;
  list-style-type: none;
}

.footer__link {
  text-align: center;
}

.footer__social{
  display: flex;
  justify-content: space-between;
  min-width: 240px;
}


.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
  text-decoration: none;
}

